{% extends 'base.html' %}

{% block title %} <h1>Orders:</h1> {% endblock title %}

{% block content %}
<p><h1> Order Board </h1></p>

<hr>
    <table>
        <tr>
            <td><h5> Title </h5></td>
            <td><h5> Author </h5></td>
            <td><h5> category </h5></td>
            <td><h5> Date creation </h5></td>
            <td><h5> Preview </h5></td>
        </tr>
    {% for order in order_list %}
        <tr>
            <td><h5><a href="{% url 'order_detail' order.id %}">{{ order.title|truncatechars:25 }}</a></h5></td>
            <td><h5> {{ order.author }} </h5></td>
            <td><h5> {{ order.category }} </h5></td>
            <td><h5> {{ order.dateCreation|date:'M d Y' }} </h5></td>
            <td><h5> {{ order.text|truncatechars:50 }} </h5></td>
            {% if user == order.author or user.is_superuser == True %}
            <td><h5><a href="{% url 'order_delete' order.id %}"><u> Delete </u></a>
                    <a href="{% url 'order_update' order.id %}"><u> Edit </u></a>
            {% endif %}
            </h5></td>
            <td></td>
        </tr>
    {% endfor %}
    </table>
<hr>
{% if user.is_authenticated %}
    <a href="{% url 'order_create' %}"> Add order </a> <br>
{% endif %}
{% endblock content %}